body{
	font-style: 'Roboto';
	background-image: url(images/back.jpg);
	background-size: cover;
}

.login{
	margin-top: 9em;
	margin-left: 40em;
}

.login .card{
	background: rgba(0, 20, 35 , .8);
}

label{
	font-size: 1.2em;
	color: white;
}

input{
	color: white;

}